:root {
	--background-color: #0F172A;
	--nav-bg-color: #1E293B;
	--nav-text-color: #CBD5E1;
	--card-bg-color: #1E293B;
	--card-text-color: #CBD5E1;
	--interact-bg-color: #38BDF8;
	--interact-text-color: #0F172A;
	--interact-hover-bg: #38BDF8;
	--progress-bg-color: #1E293B;
	--pg-bar-bg-color: #10B981;
	--carousel-bg-color: #171F2E;
	--carousel-text-color: #E2E8F0;
	--status-active: #10b981;
	--status-inactive: #e74c3c;
}

.status-active { color: #10B981; }
.status-inactive { color: #e74c3c; }

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
	background: var(--background-color);
}

/* Контейнер */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Навбар */
.navbar {
    display: flex;
    align-items: center;
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
    padding: 10px;
	height: 10%;
	gap: 10px;
	justify-content: space-between;
}

.navbar_left {
	display: flex;
	align-items: center;
	gap: 10px;
}
.navbar__icon {
	height: 0px;
	width: 0px;
}
.navbar__user {
    display: flex;
	flex-direction: column;
	gap: 3px;
}

.navbar__user .user-ip {
	font-size: 14px;
}

.navbar__user .user-name{
	font-size: 18px;
}

.navbar__options {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	border-radius: 15px;
	background: linear-gradient(
		90deg,
		var(--background-color), 
		#1e88e5,
		var(--nav-bg-color),
		#42a5f5,
		var(--card-bg-color)
	);
	background-size: 2000% 100%;
	color: white;
	animation: gradientMove 60s linear infinite;
	opacity: 0;
	pointer-events: none;
}

@keyframes gradientMove {
	0% { background-position: 0% 50%; }
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

/* Контент */
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Карточки */
.card {
    background: var(--card-bg-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	color: var(--card-text-color);
	position: relative;
}

.card__header {
    font-weight: 600;
    margin-bottom: 10px;
}

/* Баланс */
.balance__amount {
    font-size: 20px;
    font-weight: bold;
}
.card__actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
	flex-direction: column;
	justify-content:space-evenly;
}

/* Кнопки */
.btn {
    background: var(--interact-bg-color);
    border: none;
    padding: 8px 14px;
    color: var(--interact-text-color);
    border-radius: 8px;
    cursor: pointer;
	overflow: hidden;
	max-width: 100px;
}

/* Карусель */
.carousel {
    overflow-x: auto;
}
.carousel__track {
    display: flex;
    gap: 12px;
	flex-direction: row;
}
.carousel__item {
    min-width: 150px;
    background: var(--carousel-bg-color);
    border-radius: 10px;
    padding: 12px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
	text-align: center;
	color: var(--carousel-text-color);
	display: flex;
	flex-direction: column;
}

/* Прогресс */
.progress {
    background: var(--progress-bg-color);
    border-radius: 6px;
    height: 6px;
    margin-top: 6px;
    overflow: hidden;
}
.progress__bar {
    background: var(--pg-bar-bg-color);
    height: 100%;
    border-radius: 6px;
}

/* Устройства */
.device__status {
    font-weight: 500;
}

.device__item {
	display: flex;
	cursor: pointer;
	flex-direction: column;
}

.card__text {
	flex-direction: column;
	gap: 10px;
	display: flex;
	justify-content: space-between;
}

.balance-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.device__ip {
	font-size: 14px;
}

.card__option {
	position: absolute; justify-content: center; text-align: center;
	top: 10px; right: 10px;
	height: 30px; width: 50px; line-height: 30px;
	background-color: #10B981;
	border-radius: 15px 25px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	user-select: none;
	overflow: hidden;
	transition: 
		transform 0.3s ease;
}

.card__option:active{
	transform: scale(1.1);
}

.modal-bg {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	align-items: center;
	justify-content: center;
	display: flex;
	backdrop-filter: blur(12px);
	transition: 
		backdrop-filter 0.3s ease,
		background 0.3s ease,
		opacity 0.3s ease;
	z-index: 1000;
}

.modal-bg.show {
	opacity: 1;
	pointer-events: auto;
}

.modal-content{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: 
		translate(-50%,-50%);
	display:flex;
	flex-direction: column;
	padding: 20px;
	background-color: var(--card-bg-color);
	color: var(--card-text-color);
	border: 2px solid var(--background-color);
	border-radius: 20px;
	max-width: 75vw;
	max-height: 90vh;
	min-width: 280px;
	min-height: 150px;
	z-index: 1500;
	transition: 
		opacity 0.3s ease;
}

.modal-content.show{
	opacity: 1;
	pointer-events: auto;
}

.modal-content label{
	margin: 5px;
}

.modal-content h3{
	margin: 0;
	margin-bottom: 10px;
}

input {
	height: 15px;
	padding: 10px;
	border-radius: 25px;
	border: 2px solid var(--background-color);
}

input[readonly] {
	cursor: pointer;
}

.hidden {
	display: none;
}
.switch {
	width: 50px;
	height: 28px;
	position: relative;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: var(--status-inactive);
	transition: 0.4s;
	border-radius: 28px;
}

.slider:before{
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 3px;
	bottom: 3px;
	background: white;
	transition: 0.4s;
	border-radius: 50%;
}

.switch input:checked + .slider {
	background: var(--status-active);
}

.switch input:checked + .slider:before {
  transform: translateX(22px);
}

.confirm {
	background: var(--pg-bar-bg-color);
	padding: 10px;
	border-radius: 25px 15px;
	cursor: pointer;
	margin-top: 10px;
	align-self: center;
	transition: transform 0.2s ease;
	user-select: none;
}

.delete {
	background: var(--status-inactive);
	padding: 10px;
	border-radius: 25px 15px;
	cursor: pointer;
	margin-top: 10px;
	align-self: center;
	transition: transform 0.2s ease;
	user-select: none;
}

.editModalButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
