<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <title>VPN PANEL</title>
</head>
<body>
  <nav class="navbar">
    <a class="nav-link" onclick="showTab('profile')">Мой профиль</a>
    {% if is_admin %}<a class="nav-link" onclick="showTab('users')">Все участники</a>{% endif %}
  </nav>
  <div id="profile" class="card tab-content tab-active">
    <h2>{{ client.name }}</h2>
    <p>IP: {{ ip }}</p>
    <p>План: {{ client['plan'] }}</p>
    <p>Дата регистрации: {{ client.created[:10] }}</p>
    <p>Следующая оплата:
    {% if client.next_payment %}
      {{ client.next_payment[:10] }}
    {% else %}
      ---
    {% endif %}
    </p>
  </div>
  {% if is_admin %}
  <div id="users" class="card tab-content">
    <h2>Участники</h2>
    <ul class="list">
      <li class="header">
        <span class="name">Имя</span>
        <span class="plan">Тариф</span>
        <span class="ip">IP</span>
        <span class="next_payment">Следующая оплата</span>
      </li>
      {% for client_ip, client in clients.items() %}
      <li class="item">
        <span class="name">{{ client.name }}</span>
        <span class="plan">{{ client.plan }}</span>
        <span class="ip">{{ client_ip }}</span>
        <span class="next_payment">
          {% if client.next_payment %}
            {{ client.next_payment[:10] }}
          {% else %}
            ---
          {% endif %}
        </span>
        <span class="settings" onclick="openEditModal('{{ client_ip }}')">⚙
        </span>
      </li>
      {% endfor %}
    </ul>
    <button class="add-btn" onclick="showModal('addModal')">+</button>
  </div>
  <div id="addModal" class="modal">
    <div class="modal-content card">
      <h2>Добавить клиента</h2>
      <label>Имя</label>
      <input type="text" id="new-name" placeholder="Имя клиента"><br>

      <label>Тариф</label>
      <select id="new-plan" placeholder="Имя клиента">
        <option value = "regular">Обычный</option>
        <option value = "trusted">Надежный</option>
      </select><br>
      <div class="modal-buttons">
        <button onclick="addClient()">Добавить</button>
        <button onclick="closeModal('addModal')">Отмена</button>
      </div>
    </div>
  </div>
  <script>

    function showModal(id){
      document.getElementById(id).classList.add('show');
    }
    function closeModal(id){
      document.getElementById(id).classList.remove('show');
    }

  async function addClient() {
    const name = document.getElementById('new-name').value;
    const plan = document.getElementById('new-plan').value;

    const result = await request('/add_client', 'POST', { name, plan });

    if (!result.success){
      alert('Ошибка: '+result.error);
      return;
    }

    const client = result.client;
    const private_key = result.private_key
    const server_public_key = result.peer_data.public_key
    const endpoint = result.peer_data.endpoint
    const conf = `[Interface]
PrivateKey = ${private_key}
Address = ${client.ip}/32
DNS = 1.1.1.1

[Peer]
PublicKey = ${server_public_key}
AllowedIPs = 0.0.0.0/0
Endpoint = ${endpoint}`;


    const blob = new Blob([conf], {type: 'text/plain'});
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = `client_${client.name || 'new'}.conf`;
    link.click();

    alert('Клиент добавлен!');
    location.reload();
  }


  async function request(url, method = 'GET', data = null){
      const options = { method } ;

      if (data){
        options.headers = { 'Content-Type': 'application/json' };
        options.body = JSON.stringify(data);
      }

      const response = await fetch(url, options);

      const jsonData = await response.json();
      return jsonData;
    }

  function showTab(tabId){
    document.querySelectorAll('.tab-content').forEach(tab => tab.classList.remove('tab-active'));
    document.getElementById(tabId).classList.add('tab-active');
  }
  </script>
  {% endif %}
</body>
</html>
