<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Панель управления</title>
	<link rel="stylesheet" href="../static/panel.css">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>
	<div class="app-container">
		<nav class="navbar">
			<span class="navbar-link active">Пользователи</span>
			<span class="navbar-link">Устройства</span>
		</nav>
		<div class="content">
				Ждем...
		</div>
		<footer>
			<button class="add-client-btn" id="addClientBtn">+</button>
		</footer>
	</div>
	<!-- Фон модалки -->
	<div class="modal-bg" id="modalBg"></div>

	<!-- Модалка просмотра клиента -->
	<div class="modal" id="clientModal">
		<div class="modal-content">
			<h3>Данные клиента</h3>

			<label for="clientUsername">Имя:</label>
			<input type="text" id="clientUsername" placeholder="//ТЕКУЩЕЕ ИМЯ//">

			<label for="clientDesc">Доп.сводка(если надо):</label>
			<textarea id="clientDesc" placeholder="Введите описание(не видно клиенту)"></textarea>

			<label for="clientRole">Роль:</label>
			<select id="clientRole" >
				<!-- <option value="regular">Пользователь</option> -->
			</select>

			<label for="clientStatus">Статус:</label>
			<select id="clientStatus">
				<!-- <option value="active">Активен</option> -->
			</select>

			<label for="clientTariff">Тариф:</label>
			<input type="text" id="clientTariff" placeholder="Введите ID тарифа">

			<label for="clientBalance">Баланс:</label>
			<input type="number" id="clientBalance" placeholder="0" value="0">

			<label for="clientNextPayment">Следующая оплата:</label>
			<input type="date" id="clientNextPayment">

			<label class="alotspan-label" for="clientDevices" id="clientDevices-label">
				<span>Устройства:</span>
				<div>
					<span>0</span>
					<span>/</span>
					<span>0</span>
				</div>
			</label>
			<div class="clientDevices" id="clientDevices">
				<div>Подождите...</div>
			</div>
			<div class="modal-options">
				<button id="deleteEditClientBtn" class="btn delete-btn">Удалить</button>	
				<button id="editEditClientBtn" class="btn confirm-btn">Сохранить</button>	
				<button id="closeEditClientBtn" class="btn close-btn">Закрыть</button>
			</div>
		</div>
	</div>
	
	<div class="modal" id="deviceModal">
		<div class="modal-content">
			<h3>Данные устройства</h3>

			<label for="deviceName">Имя:</label>
			<input type="text" id="deviceName" placeholder="//ТЕКУЩЕЕ ИМЯ//">

			<label for="deviceStatus">Статус:</label>
			<select id="deviceStatus">
				<!-- <option value="active">Активен</option> -->
			</select>

			<label for="devicePublic_key">Публичный ключ:</label>
			<input type="text" id="devicePublic_key" placeholder="blabla5159151al;dfkas">

			<label for="deviceIP">IP:</label>
			<input type="text" id="deviceIP" placeholder="10.88.88.X" disabled>

			<div class="modal-options">
				<button id="deleteDeviceBtn" class="btn delete-btn">Удалить</button>
				<button id="editDeviceBtn" class="btn confirm-btn">Сохранить</button>	
				<button id="closeDeviceBtn" class="btn close-btn">Закрыть</button>
			</div>
		</div>
	</div>

	<!-- Модалка добавления клиента -->
	<div class="modal" id="addClientModal">
	    <div class="modal-content">
			<h3>Добавить клиента</h3>

			<label for="newUsername">Имя:</label>
			<input type="text" id="newUsername" placeholder="Введите имя">

			<label for="newDesc">Описание:</label>
			<textarea id="newDesc" placeholder="Введите описание(не видно клиенту)"></textarea>
			
			<label for="newRole">Роль:</label>
			<select id="newRole">
			    <!-- <option value="regular">Пользователь</option> -->
			</select>

			<label for="newStatus">Статус:</label>
			<select id="newStatus">
			    <!-- <option value="active">Активен</option> -->
			</select>

			<label for="newTariff">Тариф:</label>
			<input type="text" id="newTariff" placeholder="Введите ID тарифа">

			<label for="newBalance">Баланс:</label>
			<input type="number" id="newBalance" placeholder="0" value="0">

			<label for="newNextPayment">Следующая оплата:</label>
			<input type="date" id="newNextPayment">
			
			<div class="modal-options">
			    <button id="addAddClientBtn" class="btn confirm-btn">Добавить</button>
			    <button id="closeAddClientBtn" class="btn close-btn">Отмена</button>
			</div>
	    </div>
	</div>
	
	<div class="modal" id="addDeviceModal">
	    <div class="modal-content">
			<h3>Добавить устройство</h3>

			<label for="newName">Имя:</label>
			<input type="text" id="newName" placeholder="Введите имя">
			
			<label for="newPublicKey">Публичный ключ:</label>
			<label class="alotspan-label">
				<span>Сгенерировать пару?</span>
				<input class="keysCheckbox" type="checkbox" id="DoGenKey">
			</label>
			<input type="text" id="newPublicKey" placeholder="Введите публичный ключ">

			<div class="modal-options">
				<button id="addAddDeviceBtn" class="btn confirm-btn">Добавить</button>
				<button id="closeAddDeviceBtn" class="btn close-btn">Отмена</button>
			</div>
	    </div>
	</div>

	<script src="../static/panel.js"></script>
</body>
</html>
