<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VPN Профиль</title>
<link rel="stylesheet" href="/static/profile.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>
<div class="app-container">
    <!-- Навбар -->
    <nav class="navbar">
		<div class="navbar_left">
			<div class="navbar__icon"></div>
			<div class="navbar__user">
				<span class="user-ip"> -- </span>
				<span class="user-name"> -- </span>
			</div>
		</div>
		<!-- <div class="navbar__options" onclick="openModal('modalSettings')">⚙</div> -->
    </nav>

    <!-- Контент -->
    <main class="content">

        <!-- Баланс -->
        <section class="card balance-card">
			<div class="card__text">
				<div class="card__header">Баланс</div>
				<div class="balance__amount">-- р.</div>
				<div class="balance__next">Следующее списание: --</div>
			</div>
            <div class="card__actions">
                <button class="btn" id=" addMoneyBtn">В разработке...</button>
                <button class="btn" id="operationsHistoryBtn">В разработке..</button>
            </div>
        </section>

        <!-- Тариф -->
        <section class="card tariff-card">
			<div>Тут пока ничего не работает :)</div>
            <div class="card__header">Тариф</div>
            <div class="carousel">
                <div class="carousel__track"></div>
            </div>
        </section>

        <!-- Устройства -->
        <section class="card devices-card">
            <div class="card__header">Ваши устройства </div>
			<div class="card__option devices-option hidden" id = "devices-option" onclick="openModal('addDeviceModal')">+</div>
            <div class="carousel">
				<div class="carousel__track" id="devices-track"></div>
			</div>
        </section>

    </main>
	<div id="modal-bg" class="modal-bg">
	</div>
	<div id="addDeviceModal" class="modal-content">
		<span class="card__option" onclick="closeModal('addDeviceModal')">&times;</span>
		<h3>Добавление устройства</h3>
		<label for="deviceName">Имя устройства (можно оставить пустым):</label>
		<input type="text" id="deviceName" placeholder="Пример: Iphone Влад">
		<div class="confirm" onclick="addDevice()">Добавить</div>
	</div>
	<div id="keysModal" class="modal-content">
		<span class="card__option" onclick="closeModal('keysModal')">&times;</span>
		<h3>Ваши ключи</h3>
		<label for="privateKey">Приватный ключ:</label>
		<input type="text" id="privateKey" value="Подождите..." readonly onclick="copyOnClick(this)">
		<label for="publicKey">Публичный ключ:</label>
		<input type="text" id="publicKey" value="Подождите..." readonly onclick="copyOnClick(this)">
		<label>
			Вам нужно вставить приватный ключ в ваш конфиг, дабы вы могли присоединиться к ВПН. <br><br>Публичный ключ - так будет выглядеть ключ у устройства при просмотре здесь.<br><br> 
			Нажмите на приватный ключ, чтоб скопировать<br><br>
			Если у вас не получилось, то либо попробуйте создать еще раз(удалите перед этим неудачно созданное устройство, у которого не скопировали ключ и т.п.), либо обратитесь к администратору, вам помогут.
			
		</label>
	</div>
	<div id="optionsModal" class="modal-content">
		<span class="card__option" onclick="closeModal('keysModal')">&times;</span>
	</div>
	<div id="editDeviceModal" class="modal-content">
		<span class="card__option" onclick="closeModal('editDeviceModal')">&times;</span>
		<label for="deviceEditName">Имя устройства</label>
		<input type="text" id="deviceEditName" value="Имя устройства">
		<label for="ipEdit">Локальный IP (просмотр)</label>
		<input type="text" id="ipEdit" value="IP" readonly>
		<label for="publickeyEdit">Публичный ключ (просмотр)</label>
		<input type="text" id="publickeyEdit" value="КЛЮЧ" readonly>
		<label for="statusEdit">Статус</label>
		<label class="switch">
			<input type="checkbox" id="statusEdit">
			<span class="slider"></span>
		</label>
		<label for="statusEdit">Осторожно: если вы выключите или удалите все устройства, то снова получить доступ можно будет только с помощью администратора!</label>
		<div class="editModalButtons">
			<div class="delete" onclick="deleteDevice()">Удалить</div>
			<div class="confirm" onclick="editDevice()">Подтвердить</div>
		</div>
		
	</div>
</div>
<script src="../static/profile.js"></script>
</body>
</html>
